.article {
  padding: 1rem;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 0.2rem;
  }
  &__icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  &__slider {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    &-container {
      height: 100%;
      max-width: 35rem;
    }
    &-img {
      position: absolute;
      max-height: 47vh;
      max-width: 35rem;
      transition: all 0.5s;
    }
    &-button {
      border: none;
      background-color: transparent;
      &--left {
        position: absolute;
        top: 50%;
        left: 2%;
        z-index: 10;
      }
      &--right {
        position: absolute;
        top: 50%;
        right: 2%;
        z-index: 10;
      }
    }
  }

  &__dots {
    display: flex;

    &__dot {
      border: none;
      background-color: #b9b9b9;
      opacity: 0.7;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: 1.75rem;
      cursor: pointer;
      transition: all 0.5s;

      &--active {
        background-color: var(--dr);
        opacity: 1;
      }
      /* Only necessary when overlying images */
      /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
    }

    &__dot:last-child {
      margin: 0;
    }
    // &--active {
    //   background-color: var(--dr);
    //   opacity: 1;
    // }
  }

  &__order-box {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    &__price {
      font-size: 2rem;
      font-weight: 700;
      color: var(--rbd);
    }
    &__btn {
      margin-left: auto;
      background-color: transparent;
      border: 1px solid var(--dr);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      color: var(--dr);

      display: flex;
      align-items: center;

      &:active {
        color: white;
        background-color: var(--dr);
      }
      &:active &__icon {
        fill: white;
      }

      &__text {
        color: inherit;
        font-weight: 700;
      }
      &__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: var(--dr);
      }
    }
  }
  &__btn {
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--dr);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: var(--dr);

    display: flex;
    align-items: center;

    &:active {
      color: white;
      background-color: var(--dr);
    }
    &:active &__icon {
      fill: white;
    }
    &-hidden {
      display: none;
    }
  }
  &__details {
    &__text {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
