.itemsincart {
  visibility: hidden;
  position: absolute;
  transform: translate(1.75rem, -1.1rem);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: red;

  &__num {
    position: absolute;
    transform: translateX(-0.4rem);
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }
}
.btn--plus {
  margin-bottom: 2rem;
}
.cart {
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;

  &__message {
    padding: 2rem;
    border-bottom: 1px solid var(--cgl3);
    &--empty {
      padding-top: 2rem;
      color: var(--dr);
      text-align: center;
    }
  }
  &__item {
    padding: 2rem 0;
    border-bottom: 1px solid var(--cgl3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__img {
      width: 10rem;
      height: 10rem;
    }
    &__info {
      width: 7rem;
      // height: 7rem;
      cursor: pointer;
      text-decoration: underline;
      color: blue;
    }
    &__price {
      color: red;
    }
    // &__quantity {
    // }
    &__quantity-btns {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      width: 2.5rem;
      // border: none;
      background-color: transparent;
      &:active {
        border: 1px solid var(--dr);
        color: var(--dr);
      }
    }
  }
  &__total {
    display: inline;
    border-top: 1px solid var(--cgl3);
    align-self: flex-end;
    margin-top: 3rem;
    padding: 2rem 0;
  }
  &__btns {
    width: 100%;
    align-self: center;
    display: flex;

    &--clear {
      margin-left: 2rem;
      margin-right: auto;
      background-color: transparent;
      border: 1px solid var(--dr);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      color: var(--dr);
      cursor: pointer;
      &:active {
        background-color: var(--dr);
        color: white;
      }
      &:active &__icon {
        fill: white;
      }

      display: flex;
      align-items: center;
      &__text {
        margin-left: 1rem;
        color: inherit;
        font-weight: 700;
      }
      &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--dr);
      }
    }
    &--order {
      background-color: transparent;
      border: 1px solid green;
      color: green;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      // transition: all 0.2s;
      &:active {
        background-color: green;
        color: white;
      }
      &:active &__icon {
        fill: white;
      }

      &__text {
        margin-left: 1rem;
        color: inherit;
        font-weight: 700;
      }
      &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: green;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .cart {
    &__item {
      &__img {
        width: 15rem;
        height: 15rem;
      }
      &__info {
        width: 10rem;
        // height: 10rem;
      }
    }
    &__total {
      margin-right: 15%;
    }
    &__btns {
      width: 70%;
    }
  }
}
