.check {
  padding: 1.5rem;

  &__title {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--rb);
    text-align: center;
    border-bottom: 1px solid var(--cgl4);
  }
  &__description {
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--cgd1);
    &-2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-style: italic;
      color: var(--cgd1);
      margin: 2rem 0;
    }
  }
  &__input {
    &--form {
      width: 60%;
      font-size: 2rem;
      border-radius: 1rem;
      padding: 0.5rem 1.5rem;
      border: 2px solid var(--rb);
      transition: all 0.2s;

      &:focus {
        border: 2px solid var(--rb);
        background-color: rgba(74, 120, 255, 0.72);
      }
    }
    &--submit {
      font-size: 2rem;
      color: var(--rb);
      background-color: white;
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
      border: 2px solid var(--rb);
      transition: all 0.2s;

      &:hover {
        color: white;
        background-color: var(--rb);
      }
      &:active {
        transform: translateY(0.5rem);
      }
    }
  }
  &__response {
    border-top: 1px solid var(--cgl4);
    padding-top: 1rem;
    display: flex;
    &-text {
      font-size: 1.75rem;
      font-weight: 700;
      color: var(--rb);
      margin-bottom: 5rem;
    }
  }
}
@media screen and(min-width:768px) {
  .check {
    padding: 4rem;
  }
}
