.search-box {
  visibility: visible;
  height: 5rem;

  transition: all 0.2s;

  border-top: 1px solid var(--cgl4);
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: Lato;
    font-size: 2rem;
    color: inherit;
    background-color: var(--cgl2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 60%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 80%;
      background-color: var(--cgl3);
    }
    &::-webkit-input-placeholder {
      font-weight: 400;
      font-style: italic;
      color: var(--cgl4);
    }
  }
  &__input:focus + &__btn {
    background-color: var(--cgl3);
  }
  &__btn {
    border: none;
    background-color: var(--cgl2);
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(0.2rem);
    }
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--rb);
  }
}
