:root {
  --rb: royalblue;
  --rbd: rgb(4, 58, 220);
  --rbl: rgb(92, 124, 218);
  --dr: rgb(172, 4, 4);
  --cgl1: #faf9f9;
  --cgl2: #f4f2f2;
  --cgl3: #f0eeee;
  --cgl4: #ccc;
  --cgd1: #333;
  --cgd2: #777;
  --cgd3: #999; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.container {
  width: 100%;
  min-height: 100vh; }

.header {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem; }
  .header__text {
    font-size: 1.8rem;
    font-style: italic;
    line-height: 2.3rem;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(65, 105, 225, 0.618);
    margin-right: auto;
    color: var(--rb);
    cursor: pointer;
    transition: all 0.2s; }
    .header__text:hover {
      transform: scale(1.05); }
  .header__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--rb); }

.logo {
  height: 5rem;
  width: 3rem;
  background-image: url("img/logorb.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer; }

.main {
  display: flex;
  background-image: linear-gradient(rgba(255, 255, 255, 0.816), rgba(255, 255, 255, 0.782)), url("img/back-small.jpg");
  background-attachment: fixed; }

.content {
  padding: 1rem;
  width: 100%;
  min-height: 100vh; }

.shop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .shop__article {
    background-color: rgba(255, 255, 255, 0.522);
    backdrop-filter: blur(4px);
    width: 48%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .shop__article__icon {
      width: 2rem;
      height: 2rem;
      position: absolute;
      transform: translate(6rem, 0.5rem);
      fill: red; }
      .shop__article__icon-hidden {
        visibility: hidden; }
    .shop__article-img {
      width: 100%; }
    .shop__article-title {
      text-align: center; }
    .shop__article-price {
      color: red; }

.footer {
  background-color: var(--rb);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column; }
  .footer__menu {
    display: flex;
    justify-content: space-evenly; }
    .footer__menu-btn {
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      font-size: 1.5rem;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s; }
      .footer__menu-btn:hover {
        transform: scale(1.1);
        text-shadow: 1px 2px 4px black; }
      .footer__menu-btn:active {
        transform: translateY(0.5rem); }
  .footer__info {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0; }
    .footer__info__contacts-1 {
      display: flex; }
    .footer__info__contacts-icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: white;
      padding-right: 1rem; }
    .footer__info__social {
      display: inline; }
  .footer__author {
    display: flex;
    justify-content: center; }
  .footer__icon {
    width: 3rem;
    height: 3rem;
    fill: white;
    margin-right: 1rem; }
  .footer__text {
    font-size: 1.5rem;
    font-weight: 400;
    color: white; }

a.footer__text {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white; }

@media screen and (min-width: 512px) {
  .shop__article__icon {
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(9rem, 1rem); } }

@media screen and (min-width: 768px) {
  html {
    font-size: 81.25%; }
  .main {
    background-image: linear-gradient(rgba(255, 255, 255, 0.816), rgba(255, 255, 255, 0.782)), url("img/back-medium.jpg");
    background-size: cover; }
  .footer {
    padding: 2rem 4rem; }
  .shop__article__icon {
    transform: translate(11rem, 1rem); } }

@media screen and (min-width: 1024px) {
  .header {
    background-color: var(--rb);
    padding: 1.5rem 5rem; }
    .header__text {
      text-shadow: 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.618);
      color: white;
      margin-left: 5rem; }
    .header__icon {
      fill: white; }
  .logo {
    background-image: url("img/logo.png"); }
  .main {
    background-image: linear-gradient(rgba(255, 255, 255, 0.816), rgba(255, 255, 255, 0.782)), url("img/img12.jpg");
    background-size: cover; }
  .shop {
    margin: 0 auto;
    width: 85%; }
    .shop__article {
      width: 32%; }
      .shop__article__icon {
        transform: translate(7rem, 1rem); }
  .footer {
    padding: 2rem 10rem;
    background-color: var(--rb); } }

.article {
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .article__title {
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 0.2rem; }
  .article__icon {
    width: 3.5rem;
    height: 3.5rem; }
  .article__slider {
    width: 100%;
    position: relative; }
    .article__slider-img {
      height: 100%;
      position: absolute;
      transition: all 0.5s; }
      .article__slider-img-container {
        position: relative;
        overflow: hidden;
        height: 28rem;
        width: 28rem;
        margin: auto; }
    .article__slider-button {
      border: none;
      background-color: transparent;
      fill: var(--cgl4);
      cursor: pointer; }
      .article__slider-button:hover {
        fill: var(--cgd2); }
      .article__slider-button--left {
        position: absolute;
        top: 50%;
        left: 2%;
        z-index: 10;
        transition: all 0.2s; }
        .article__slider-button--left:active {
          transform: translateX(-0.5rem); }
      .article__slider-button--right {
        position: absolute;
        top: 50%;
        right: 2%;
        z-index: 10;
        transition: all 0.2s; }
        .article__slider-button--right:active {
          transform: translateX(0.5rem); }
  .article__dots {
    display: flex; }
    .article__dots__dot {
      border: none;
      background-color: #b9b9b9;
      opacity: 0.7;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: 1.75rem;
      cursor: pointer;
      transition: all 0.5s; }
      .article__dots__dot--active {
        background-color: var(--dr);
        opacity: 1; }
      .article__dots__dot:hover {
        border: 1px solid black; }
    .article__dots__dot:last-child {
      margin: 0; }
  .article__order-box {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center; }
    .article__order-box__price {
      font-size: 2rem;
      font-weight: 700;
      color: var(--rbd); }
    .article__order-box__btn {
      margin-left: auto;
      background-color: transparent;
      border: 1px solid var(--dr);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      color: var(--dr);
      cursor: pointer;
      transition: all 0.2s;
      display: flex;
      align-items: center; }
      .article__order-box__btn:hover {
        color: white;
        background-color: var(--dr); }
      .article__order-box__btn:active {
        color: white;
        background-color: var(--dr);
        transform: translateY(0.5rem); }
      .article__order-box__btn:active .article__order-box__btn__icon,
      .article__order-box__btn:hover .article__order-box__btn__icon {
        fill: white; }
      .article__order-box__btn__text {
        color: inherit;
        font-weight: 700; }
      .article__order-box__btn__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: var(--dr); }
  .article__btn {
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--dr);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: var(--dr);
    cursor: pointer;
    display: flex;
    align-items: center; }
    .article__btn:hover {
      color: white;
      background-color: var(--dr); }
    .article__btn:active {
      color: white;
      background-color: var(--dr);
      transform: translateY(0.5rem); }
    .article__btn:active .article__btn__icon,
    .article__btn:hover .article__btn__icon {
      fill: white; }
    .article__btn__text {
      color: inherit;
      font-weight: 700; }
    .article__btn__icon {
      width: 3.5rem;
      height: 3.5rem;
      fill: var(--dr); }
    .article__btn-hidden {
      display: none; }
  .article__details__text {
    font-size: 1.6rem;
    font-weight: 400; }

@media screen and (min-width: 375px) {
  .article__slider-img-container {
    height: 33rem;
    width: 33rem; } }

@media screen and (min-width: 768px) {
  .article {
    padding: 2.5rem;
    font-size: 2rem; }
    .article__slider-img-container {
      height: 50rem;
      width: 50rem; }
    .article__order-box {
      width: 70%; }
    .article__btn {
      margin-right: 15%; } }

@media screen and (min-width: 1024px) {
  .article {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center; }
    .article__title {
      grid-row: 1/2;
      grid-column: 2/3; }
    .article__slider {
      grid-row: 1 / span 4;
      grid-column: 1/2; }
      .article__slider-img-container {
        height: 35rem;
        width: 35rem; }
    .article__dots {
      grid-row: 5/6;
      grid-column: 1/2; }
    .article__details {
      grid-row: 2/3;
      grid-column: 2/3; }
    .article__order-box {
      width: 100%;
      grid-row: 3/4;
      grid-column: 2/3; }
    .article__btn {
      margin-right: 0;
      grid-row: 4/5;
      grid-column: 2/3; } }

.itemsincart {
  visibility: hidden;
  position: absolute;
  transform: translate(1.75rem, -1.1rem);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: red; }
  .itemsincart__num {
    position: absolute;
    transform: translateX(-0.4rem);
    font-size: 1.5rem;
    color: white;
    font-weight: bold; }

.btn--plus {
  margin-bottom: 2rem; }

.cart {
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column; }
  .cart__message {
    padding: 2rem;
    border-bottom: 1px solid var(--cgl3); }
    .cart__message--empty {
      padding-top: 2rem;
      color: var(--dr);
      text-align: center; }
  .cart__item {
    border-bottom: 1px solid var(--cgl3);
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .cart__item__img {
      width: 10rem;
      height: 10rem; }
    .cart__item__info {
      width: 7rem;
      cursor: pointer;
      text-decoration: underline;
      color: blue; }
    .cart__item__price {
      color: red; }
    .cart__item__quantity-btns {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      width: 2.5rem;
      background-color: transparent; }
      .cart__item__quantity-btns:active {
        transform: scale(0.9); }
  .cart__total {
    display: inline;
    border-top: 1px solid var(--cgl3);
    align-self: flex-end;
    margin-top: 3rem;
    padding: 2rem 0; }
  .cart__btns {
    width: 100%;
    align-self: center;
    display: flex; }
    .cart__btns--clear {
      margin-left: 2rem;
      margin-right: auto;
      background-color: transparent;
      border: 1px solid var(--dr);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      color: var(--dr);
      cursor: pointer;
      transition: all 0.2s;
      display: flex;
      align-items: center; }
      .cart__btns--clear:hover {
        background-color: var(--dr);
        color: white; }
      .cart__btns--clear:hover .cart__btns--clear__icon {
        fill: white; }
      .cart__btns--clear:active {
        transform: translateY(0.5rem); }
      .cart__btns--clear__text {
        margin-left: 1rem;
        color: inherit;
        font-weight: 700; }
      .cart__btns--clear__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--dr); }
    .cart__btns--order {
      background-color: transparent;
      border: 1px solid green;
      color: green;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s; }
      .cart__btns--order:hover {
        background-color: green;
        color: white; }
      .cart__btns--order:hover .cart__btns--order__icon {
        fill: white; }
      .cart__btns--order:active {
        transform: translateY(0.5rem); }
      .cart__btns--order__text {
        margin-left: 1rem;
        color: inherit;
        font-weight: 700; }
      .cart__btns--order__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: green; }

@media screen and (min-width: 768px) {
  .cart__item__img {
    width: 15rem;
    height: 15rem; }
  .cart__item__info {
    width: 10rem; }
  .cart__total {
    margin-right: 15%; }
  .cart__btns {
    width: 70%; } }

.order {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem;
  display: flex;
  flex-direction: column; }
  .order__message {
    text-transform: uppercase;
    color: var(--rb);
    padding: 1rem;
    border-bottom: 1px solid var(--cgl3); }
  .order__item {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .order__item__price {
      font-weight: 700; }
  .order__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px solid var(--cgl3);
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 700; }
    .order__total__price {
      color: red; }
  .order__description-2 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-style: italic;
    color: var(--cgd1);
    margin-top: 1rem; }
  .order__input--form {
    width: 50%;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--rb);
    transition: all 0.2s; }
    .order__input--form:focus {
      width: 60%;
      border: 2px solid var(--rb);
      background-color: rgba(74, 120, 255, 0.72); }
  .order__input--submit {
    font-size: 2rem;
    color: var(--rb);
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--rb);
    transition: all 0.2s; }
    .order__input--submit:hover {
      color: white;
      background-color: var(--rb); }
    .order__input--submit:active {
      transform: translateY(0.5rem); }

.circle__btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.2s; }
  .circle__btn:hover {
    background-color: var(--cgl3); }
  .circle__btn:active {
    transform: scale(0.9); }

.back-to-top__btn {
  visibility: hidden;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.652);
  position: fixed;
  top: 85vh;
  left: 85vw;
  cursor: pointer;
  transition: all 0.2s; }
  .back-to-top__btn:hover {
    background-color: white; }
  .back-to-top__btn:active {
    background-color: white;
    transform: scale(0.9); }

.back-to-top__icon {
  transform: translateY(0.2rem);
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--rb); }

.popup {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px); }
  .popup__close {
    font-size: 3rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: black;
    transition: all 0.2s;
    cursor: pointer; }
    .popup__close:hover {
      font-weight: 700;
      color: var(--dr);
      transform: scale(1.1); }
    .popup__close:active {
      transform: scale(0.9); }
  .popup__window {
    width: 90vw;
    max-height: 85vh;
    background-color: white;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 0.3rem;
    overflow: scroll;
    transition: all 0.5s; }

.color-box {
  padding: 1rem;
  display: flex;
  justify-content: center; }

.color-div {
  margin: 0.5rem 0.5rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  box-shadow: 0.25rem 0.25rem 1rem white;
  cursor: pointer;
  transition: all 0.2s; }
  .color-div-img {
    display: none; }
  .color-div:hover {
    transform: scale(1.25); }
  .color-div--red {
    background-color: red; }
  .color-div--blue {
    background-color: blue; }
  .color-div--black {
    background-color: black; }
  .color-div--beige {
    background-color: #dfdfb3; }
  .color-div--coral {
    background-color: coral; }
  .color-div--green {
    background-color: green; }
  .color-div--grey {
    background-color: grey; }
  .color-div--burgundy {
    background-color: darkred; }

@media screen and (min-width: 1024px) {
  .circle__btn:hover {
    background-color: #799aff; }
  .popup__window {
    width: 75vw; } }

.search-box {
  visibility: hidden;
  height: 0;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-box__input {
    font-family: Lato;
    font-size: 2rem;
    color: inherit;
    background-color: white;
    border: 1px solid var(--rb);
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 60%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search-box__input:focus {
      outline: none;
      width: 80%;
      background-color: var(--cgl3); }
    .search-box__input::-webkit-input-placeholder {
      font-weight: 400;
      font-style: italic;
      color: var(--cgl4); }
  .search-box__input:focus + .search-box__btn {
    background-color: var(--cgl3); }
  .search-box__btn {
    border: none;
    background-color: white; }
    .search-box__btn:focus {
      outline: none; }
    .search-box__btn:active {
      transform: translateY(0.2rem); }
  .search-box__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--rb); }

.menu {
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 80vw;
  height: 60vh;
  background-color: var(--rbl);
  border-radius: 3rem;
  box-shadow: 2rem 4rem 8rem white;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .menu__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent; }
    .menu__close-btn {
      height: 2.5rem;
      width: 2.5rem;
      fill: white;
      transition: all 0.2s; }
      .menu__close-btn:hover {
        box-shadow: 2px 4px 6px black;
        transform: scale(1.05); }
      .menu__close-btn:active {
        transform: scale(0.9); }
  .menu__btn {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 2.75rem;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border: none;
    padding-bottom: 2rem;
    transition: all 0.2s; }
    .menu__btn:hover {
      text-shadow: 2px 4px 6px black;
      transform: scale(1.05); }
    .menu__btn:not(:last-child) {
      border-bottom: 1px solid var(--cgl4); }
    .menu__btn:active {
      transform: scale(0.9); }

@media screen and (min-width: 1024px) {
  .menu {
    background-color: var(--rb);
    width: 50vw;
    height: 60vh; } }

.policy {
  padding: 1.5rem; }
  .policy__header {
    border-bottom: 1px solid var(--cgl4);
    color: var(--rb); }
  .policy__list {
    font-size: 1.5rem; }
    .policy__list__item {
      border-bottom: 1px solid var(--cgl4);
      font-weight: 700; }

@media screen and (min-width: 768px) {
  .policy {
    padding: 4rem; } }

.check {
  padding: 1.5rem; }
  .check__title {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--rb);
    text-align: center;
    border-bottom: 1px solid var(--cgl4); }
  .check__description {
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--cgd1); }
    .check__description-2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-style: italic;
      color: var(--cgd1);
      margin: 2rem 0; }
  .check__input--form {
    width: 50%;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--rb);
    transition: all 0.2s; }
    .check__input--form:focus {
      width: 60%;
      border: 2px solid var(--rb);
      background-color: rgba(74, 120, 255, 0.72); }
  .check__input--submit {
    font-size: 2rem;
    color: var(--rb);
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--rb);
    transition: all 0.2s; }
    .check__input--submit:hover {
      color: white;
      background-color: var(--rb); }
    .check__input--submit:active {
      transform: translateY(0.5rem); }
  .check__response {
    border-top: 1px solid var(--cgl4);
    padding-top: 1rem;
    display: flex; }
    .check__response-text {
      font-size: 1.75rem;
      font-weight: 700;
      color: var(--rb);
      margin-bottom: 5rem; }

@media screen and (min-width: 768px) {
  .check {
    padding: 4rem; } }

.helper__btns {
  display: flex;
  justify-content: space-evenly; }
  .helper__btns__filter__btn, .helper__btns__sortby__btn {
    margin-bottom: 1rem;
    width: 12rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--rb);
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    color: var(--rb);
    transition: all 0.2s; }
    .helper__btns__filter__btn:hover, .helper__btns__sortby__btn:hover {
      color: white;
      background-color: var(--rb); }
    .helper__btns__filter__btn:active, .helper__btns__sortby__btn:active {
      transform: translateY(0.5rem); }
  .helper__btns__filter__btn:hover .helper__btns__filter__icon, .helper__btns__sortby__btn:hover .helper__btns__filter__icon, .helper__btns__filter__btn:hover .helper__btns__sortby__icon, .helper__btns__sortby__btn:hover .helper__btns__sortby__icon {
    fill: white; }
  .helper__btns__filter__icon, .helper__btns__sortby__icon {
    width: 3rem;
    height: 2rem;
    fill: var(--rb); }
  .helper__btns__filter__title, .helper__btns__sortby__title {
    font-size: 1.6rem;
    margin-right: 1.5rem;
    font-weight: 400;
    color: inherit; }

.helper__box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.508);
  backdrop-filter: blur(4px);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  visibility: hidden;
  padding: 0;
  height: 0;
  transition: all 0.5s; }
  .helper__box-btns {
    padding: 0.5rem 0.75rem;
    font-size: 1.6rem;
    color: var(--rb);
    background-color: transparent;
    border-radius: 1.5rem;
    border: 1px solid var(--rb);
    cursor: pointer;
    transition: all 0.2s; }
    .helper__box-btns:hover {
      color: white;
      background-color: var(--rb); }
    .helper__box-btns:active {
      transform: translateY(0.5rem); }

input.helper {
  margin: 0.5rem; }

.filter__btns {
  align-self: flex-end;
  display: flex;
  flex-direction: column; }
  .filter__btns--clear {
    margin-top: 2rem; }

.filtersApplied {
  visibility: hidden;
  position: absolute;
  transform: translate(5rem, -1.1rem);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: red; }
  .filtersApplied__num {
    position: absolute;
    transform: translateX(-0.4rem);
    font-size: 1.5rem;
    color: white;
    font-weight: bold; }

.sortby {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  visibility: hidden;
  width: 0;
  margin: 0;
  padding: 1.5rem 0;
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 1rem;
  border: 2px solid var(--rb);
  overflow: hidden;
  align-self: flex-start;
  display: flex;
  flex-direction: column; }
  .sidebar__menu__btn {
    text-transform: uppercase;
    padding: 1.75rem;
    font-size: 1.5rem;
    color: var(--rb);
    font-weight: 400;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 10;
    transition: all 0.2s; }
    .sidebar__menu__btn-text {
      position: relative;
      z-index: 2;
      transition: all 0.3s;
      border-bottom: 2px solid var(--rb);
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.337); }
    .sidebar__menu__btn:active {
      transform: translateY(0.5rem); }
  .sidebar__menu__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--rb);
    transform: scaleY(0);
    transition: background-color 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1); }
  .sidebar__menu__btn:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar__menu__btn:hover .sidebar__menu__btn-text {
    color: white;
    font-weight: 700; }

@media screen and (min-width: 1024px) {
  .sidebar {
    visibility: visible;
    width: 25vw;
    margin: 5rem; } }
