:root {
  --rb: royalblue;
  --rbd: rgb(4, 58, 220);
  --rbl: rgb(92, 124, 218);
  --cgl1: #faf9f9;
  --cgl2: #f4f2f2;
  --cgl3: #f0eeee;
  --cgl4: #ccc;
  --cgd1: #333;
  --cgd2: #777;
  --cgd3: #999;
  --shadowd: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  --line: 1px solid var(--cgl2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.container {
  width: 100%;
  min-height: 100vh; }

.header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem; }
  .header__text {
    font-size: 1.8rem;
    font-style: italic;
    line-height: 2.3rem;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(65, 105, 225, 0.618);
    margin-right: auto;
    color: var(--rb); }
  .header__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--rb); }

.logo {
  height: 5rem; }

.search-box {
  visibility: visible;
  height: 5rem;
  transition: all 0.2s;
  border-top: 1px solid var(--cgl4);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-box__input {
    font-family: inherit;
    font-size: 2rem;
    color: inherit;
    background-color: var(--cgl2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 50%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search-box__input:focus {
      outline: none;
      width: 75%;
      background-color: var(--cgl3); }
    .search-box__input::-webkit-input-placeholder {
      font-weight: 400;
      color: var(--cgl4); }
  .search-box__input:focus + .search-box__btn {
    background-color: var(--cgl3); }
  .search-box__btn {
    border: none;
    background-color: var(--cgl2); }
    .search-box__btn:focus {
      outline: none; }
    .search-box__btn:active {
      transform: translateY(0.2rem); }
  .search-box__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--rbd); }

.content {
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.816), rgba(255, 255, 255, 0.782)), url("img/back-small.jpg");
  background-attachment: fixed; }

.filter {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem; }
  .filter__btn {
    width: 12rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--rb);
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .filter__btn:active {
      transform: translateY(0.5rem); }
  .filter__icon {
    width: 3rem;
    height: 2rem;
    fill: var(--rb); }
  .filter__title {
    font-size: 1.6rem;
    margin-right: 1.5rem;
    font-weight: 400;
    color: var(--rb); }

.shop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .shop__article {
    background-color: rgba(255, 255, 255, 0.522);
    width: 48%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .shop__article-img {
      width: 100%; }
    .shop__article-price {
      color: red; }

.footer {
  background-color: var(--rbd); }
  .footer__info {
    padding: 1.5rem;
    display: flex;
    justify-content: center; }
  .footer__icon {
    width: 5rem;
    height: 5rem;
    fill: var(--rbl); }
  .footer__text {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--rbl); }

.article {
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .article__title {
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 0.2rem; }
  .article__icon {
    width: 3.5rem;
    height: 3.5rem; }
  .article__slider {
    position: relative; }
    .article__slider-img {
      width: 100%; }
    .article__slider-button {
      border: none;
      background-color: transparent; }
      .article__slider-button--left {
        position: absolute;
        top: 50%;
        left: 2%; }
      .article__slider-button--right {
        position: absolute;
        top: 50%;
        right: 2%; }
  .article__dots {
    display: flex; }
    .article__dots__dot {
      border: none;
      background-color: #b9b9b9;
      opacity: 0.7;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: 1.75rem;
      cursor: pointer;
      transition: all 0.5s;
      /* Only necessary when overlying images */
      /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }
    .article__dots__dot:last-child {
      margin: 0; }
    .article__dots--active {
      /* background-color: #fff; */
      background-color: #ac0404;
      opacity: 1; }
  .article__order-box {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .article__order-box__price {
      font-size: 2rem;
      font-weight: 700;
      color: var(--rbd); }
    .article__order-box__btn {
      background-color: transparent;
      border: 1px solid #ac0404;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center; }
      .article__order-box__btn__text {
        color: #ac0404;
        font-weight: 700; }
      .article__order-box__btn__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: #ac0404; }

.circle__btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  margin-right: 1rem; }

.back-to-top__btn {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.652);
  position: fixed;
  top: 85vh;
  left: 85vw; }
  .back-to-top__btn:active {
    background-color: white; }

.back-to-top__icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--rb); }

.popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px); }
  .popup__close {
    font-size: 3rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: black;
    transition: all 0.2s;
    cursor: pointer; }
    .popup__close:hover, .popup__close:active {
      font-weight: 700;
      color: red; }
  .popup__window {
    width: 90vw;
    height: 90vh;
    background-color: white;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 0.3rem;
    overflow: scroll;
    transition: transform 0.5s; }

.search-box {
  visibility: visible;
  height: 5rem;
  transition: all 0.2s;
  border-top: 1px solid var(--cgl4);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-box__input {
    font-family: inherit;
    font-size: 2rem;
    color: inherit;
    background-color: var(--cgl2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 50%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search-box__input:focus {
      outline: none;
      width: 75%;
      background-color: var(--cgl3); }
    .search-box__input::-webkit-input-placeholder {
      font-weight: 400;
      color: var(--cgl4); }
  .search-box__input:focus + .search-box__btn {
    background-color: var(--cgl3); }
  .search-box__btn {
    border: none;
    background-color: var(--cgl2); }
    .search-box__btn:focus {
      outline: none; }
    .search-box__btn:active {
      transform: translateY(0.2rem); }
  .search-box__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--rbd); }
