:root {
  --rb: royalblue;
  --rbd: rgb(4, 58, 220);
  --rbl: rgb(92, 124, 218);
  --dr: rgb(172, 4, 4);
  --cgl1: #faf9f9;
  --cgl2: #f4f2f2;
  --cgl3: #f0eeee;
  --cgl4: #ccc;
  --cgd1: #333;
  --cgd2: #777;
  --cgd3: #999; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.container {
  width: 100%;
  min-height: 100vh; }

.header {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem; }
  .header__text {
    font-size: 1.8rem;
    font-style: italic;
    line-height: 2.3rem;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(65, 105, 225, 0.618);
    margin-right: auto;
    color: var(--rb); }
  .header__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--rb); }

.logo {
  height: 5rem; }

.content {
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.816), rgba(255, 255, 255, 0.782)), url("img/back-small.jpg");
  background-attachment: fixed; }

.shop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .shop__article {
    background-color: rgba(255, 255, 255, 0.522);
    width: 48%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .shop__article-img {
      width: 100%; }
    .shop__article-title {
      text-align: center; }
    .shop__article-price {
      color: red; }

.footer {
  background-color: var(--rb);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column; }
  .footer__menu {
    display: flex;
    justify-content: space-evenly; }
    .footer__menu-btn {
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      font-size: 1.5rem;
      color: white;
      text-transform: uppercase; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0; }
    .footer__info__contacts-1 {
      display: flex; }
    .footer__info__contacts-icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: white;
      padding-right: 1rem; }
    .footer__info__social {
      display: inline; }
  .footer__author {
    display: flex;
    justify-content: center; }
  .footer__icon {
    width: 3rem;
    height: 3rem;
    fill: white;
    margin-right: 1rem; }
  .footer__text {
    font-size: 1.5rem;
    font-weight: 400;
    color: white; }

a.footer__text {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white; }

.article {
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .article__title {
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 0.2rem; }
  .article__icon {
    width: 3.5rem;
    height: 3.5rem; }
  .article__slider {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden; }
    .article__slider-container {
      height: 100%;
      max-width: 35rem; }
    .article__slider-img {
      position: absolute;
      max-height: 47vh;
      max-width: 35rem;
      transition: all 0.5s; }
    .article__slider-button {
      border: none;
      background-color: transparent; }
      .article__slider-button--left {
        position: absolute;
        top: 50%;
        left: 2%;
        z-index: 10; }
      .article__slider-button--right {
        position: absolute;
        top: 50%;
        right: 2%;
        z-index: 10; }
  .article__dots {
    display: flex; }
    .article__dots__dot {
      border: none;
      background-color: #b9b9b9;
      opacity: 0.7;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: 1.75rem;
      cursor: pointer;
      transition: all 0.5s;
      /* Only necessary when overlying images */
      /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }
      .article__dots__dot--active {
        background-color: var(--dr);
        opacity: 1; }
    .article__dots__dot:last-child {
      margin: 0; }
  .article__order-box {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center; }
    .article__order-box__price {
      font-size: 2rem;
      font-weight: 700;
      color: var(--rbd); }
    .article__order-box__btn {
      margin-left: auto;
      background-color: transparent;
      border: 1px solid var(--dr);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      color: var(--dr);
      display: flex;
      align-items: center; }
      .article__order-box__btn:active {
        color: white;
        background-color: var(--dr); }
      .article__order-box__btn:active .article__order-box__btn__icon {
        fill: white; }
      .article__order-box__btn__text {
        color: inherit;
        font-weight: 700; }
      .article__order-box__btn__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: var(--dr); }
  .article__btn {
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--dr);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: var(--dr);
    display: flex;
    align-items: center; }
    .article__btn:active {
      color: white;
      background-color: var(--dr); }
    .article__btn:active .article__btn__icon {
      fill: white; }
    .article__btn-hidden {
      display: none; }
  .article__details__text {
    font-size: 1.6rem;
    font-weight: 400; }

.itemsincart {
  position: absolute;
  transform: translate(1.75rem, -1.1rem);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: red; }
  .itemsincart__num {
    color: white;
    font-weight: 700; }

.btn--plus {
  margin-bottom: 2rem; }

.cart {
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column; }
  .cart__message {
    padding: 2rem;
    border-bottom: 1px solid var(--cgl3); }
  .cart__item {
    padding: 2rem 0;
    border-bottom: 1px solid var(--cgl3);
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .cart__item__img {
      width: 10rem;
      height: 10rem; }
    .cart__item__info {
      width: 7rem;
      height: 7rem;
      cursor: pointer;
      text-decoration: underline;
      color: blue; }
    .cart__item__price {
      color: red; }
    .cart__item__quantity-btns {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      width: 2.5rem;
      background-color: transparent; }
      .cart__item__quantity-btns:active {
        border: 1px solid var(--dr);
        color: var(--dr); }
  .cart__total {
    display: inline;
    border-top: 1px solid var(--cgl3);
    align-self: flex-end;
    margin-top: 5rem;
    padding: 2rem; }
  .cart__btns {
    display: flex; }
    .cart__btns--clear {
      margin-left: 2rem;
      margin-right: auto;
      background-color: transparent;
      border: 1px solid var(--dr);
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      color: var(--dr);
      cursor: pointer;
      display: flex;
      align-items: center; }
      .cart__btns--clear:active {
        background-color: var(--dr);
        color: white; }
      .cart__btns--clear:active .cart__btns--clear__icon {
        fill: white; }
      .cart__btns--clear__text {
        margin-left: 1rem;
        color: inherit;
        font-weight: 700; }
      .cart__btns--clear__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--dr); }
    .cart__btns--order {
      background-color: transparent;
      border: 1px solid green;
      color: green;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .cart__btns--order:active {
        background-color: green;
        color: white; }
      .cart__btns--order:active .cart__btns--order__icon {
        fill: white; }
      .cart__btns--order__text {
        margin-left: 1rem;
        color: inherit;
        font-weight: 700; }
      .cart__btns--order__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: green; }

.circle__btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  margin-right: 1rem; }

.back-to-top__btn {
  visibility: hidden;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.652);
  position: fixed;
  top: 85vh;
  left: 85vw; }
  .back-to-top__btn:active {
    background-color: white; }

.back-to-top__icon {
  transform: translateY(0.2rem);
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--rb); }

.popup {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px); }
  .popup__close {
    font-size: 3rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: black;
    transition: all 0.2s;
    cursor: pointer; }
    .popup__close:hover, .popup__close:active {
      font-weight: 700;
      color: var(--dr); }
  .popup__window {
    width: 90vw;
    max-height: 85vh;
    background-color: white;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 0.3rem;
    overflow: scroll;
    transition: all 0.5s; }

.search-box {
  visibility: hidden;
  height: 0;
  transition: all 0.4s;
  border-top: 1px solid var(--cgl4);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-box__input {
    font-family: Lato;
    font-size: 2rem;
    color: inherit;
    background-color: var(--cgl2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 60%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search-box__input:focus {
      outline: none;
      width: 80%;
      background-color: var(--cgl3); }
    .search-box__input::-webkit-input-placeholder {
      font-weight: 400;
      font-style: italic;
      color: var(--cgl4); }
  .search-box__input:focus + .search-box__btn {
    background-color: var(--cgl3); }
  .search-box__btn {
    border: none;
    background-color: var(--cgl2); }
    .search-box__btn:focus {
      outline: none; }
    .search-box__btn:active {
      transform: translateY(0.2rem); }
  .search-box__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--rb); }

.menu {
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 80vw;
  height: 60vh;
  background-color: var(--rbl);
  border-radius: 3rem;
  box-shadow: 2rem 4rem 8rem white;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .menu__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent; }
    .menu__close-btn {
      height: 2.5rem;
      width: 2.5rem;
      fill: white;
      transition: all 0.2s; }
      .menu__close-btn:active {
        fill: blue; }
  .menu__btn {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 2.75rem;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border: none;
    padding-bottom: 2rem;
    transition: all 0.2s; }
    .menu__btn:not(:last-child) {
      border-bottom: 1px solid var(--cgl4); }
    .menu__btn:active {
      color: blue; }

.policy {
  padding: 1.5rem; }
  .policy__header {
    border-bottom: 1px solid var(--cgl4);
    color: var(--rb); }
  .policy__list {
    font-size: 1.5rem; }
    .policy__list__item {
      border-bottom: 1px solid var(--cgl4);
      font-weight: 700; }

.check {
  padding: 1.5rem; }
  .check__title {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--rb);
    text-align: center;
    border-bottom: 1px solid var(--cgl4); }
  .check__description {
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--cgd1); }
    .check__description-2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-style: italic;
      color: var(--cgd1);
      margin: 2rem 0; }
  .check__input--form {
    width: 50%;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--rb);
    transition: all 0.2s; }
    .check__input--form:focus {
      width: 60%;
      border: 2px solid var(--rb);
      background-color: var(--cgl4); }
  .check__input--submit {
    font-size: 2rem;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--rb); }
  .check__response {
    border-top: 1px solid var(--cgl4);
    padding-top: 1rem;
    display: flex; }
    .check__response-text {
      font-size: 1.75rem;
      font-weight: 700;
      color: green;
      margin-bottom: 5rem; }

.helper__btns {
  display: flex;
  justify-content: space-evenly; }
  .helper__btns__filter__btn, .helper__btns__sortby__btn {
    margin-bottom: 1rem;
    width: 12rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--rb);
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .helper__btns__filter__btn:active, .helper__btns__sortby__btn:active {
      transform: translateY(0.5rem); }
  .helper__btns__filter__icon, .helper__btns__sortby__icon {
    width: 3rem;
    height: 2rem;
    fill: var(--rb); }
  .helper__btns__filter__title, .helper__btns__sortby__title {
    font-size: 1.6rem;
    margin-right: 1.5rem;
    font-weight: 400;
    color: var(--rb); }

.helper__box {
  width: 100%;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  visibility: hidden;
  padding: 0;
  transition: all 0.3s; }
  .helper__box-btns {
    margin-bottom: 2rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.6rem;
    color: var(--rb);
    background-color: transparent;
    border-radius: 1.5rem;
    border: 1px solid var(--rb); }

input.helper {
  margin: 0.5rem; }

.filter__btns {
  align-self: flex-end;
  display: flex;
  flex-direction: column; }

.filtersApplied {
  position: absolute;
  transform: translate(5rem, -1.1rem);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: red; }
  .filtersApplied__num {
    position: absolute;
    transform: translateX(-0.4rem);
    font-size: 1.5rem;
    color: white;
    font-weight: bold; }
